body
{
    overflow-y:hidden;
    overflow-x:hidden;
    background:black;
    padding:0;
    margin:0;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
#contentPage
{
    overflow-x:hidden;
    margin:0;
    padding:0;
    overflow-y:scroll;
    width:100vw;
    height:90vh;
    top:0vh;
    margin-top:10vh;
    left:0;
    padding-right:11vw;
    position:fixed;
}
#topBar
{
    position:fixed;
    backface-visibility: hidden;
    top:0;
    z-index:4;
    left:0;
    width:100vw;
    height:10vh;
    pointer-events:none;
}
#hamMenuLabel
{
    float:left;
    width:auto;
    height:7.5vh;
    margin:3.75vh 2vw;
    display:none;
}
#hamMenu
{
    display:none;
}
#logo
{
    display:inline-block;
    pointer-events:auto;
    float:left;
    width:9.5vh;
    height:7.5vh;
    margin:1.25vh 3vw;
    overflow:hidden;
}
#logo a
{
    display:block;
    width:460%;
    height:100%;
}
#menu
{
    display:inline-block;
    pointer-events:auto;
    top:0px;
    float:right;
    height:8vh;
    width:auto;
    margin:1vh 1vw;
    padding:0 7px;
    border-radius:15px;
    cursor:default;
}
.menuItem
{
    display:inline-block;
    padding:1vh 0;
    margin:0;
    text-decoration: none;
    cursor:pointer;
}
.menuItem li
{
    list-style: none;
    color:white;
    font-size:2.4vh;
    line-height: 2.4vh;
    padding:1.8vh 2vw;
    margin:0;
    border-radius:10px;
    background-color:rgba(65,64,66,0.0);
    box-shadow:inset 0px 0px 6px -1px rgba(31,30,32,0);
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    -moz-transition:    background-color 0.2s, box-shadow 0.2s;
    -ms-transition:     background-color 0.2s, box-shadow 0.2s;
    -o-transition:      background-color 0.2s, box-shadow 0.2s;
    transition:         background-color 0.2s, box-shadow 0.2s;
}
.menuItem li:hover
{
    background-color:rgba(65,64,66,0.6);
}
.slide
{
    position:absolute;
    width:100vw;
    height:100vh;
    left:0;
    text-align: center;
    z-index:1;
}
#scrollHintWrapper
{
    position:fixed;
    display:inline-block;
    left:50%;
    margin-left:-9vh;
    z-index:1;
    bottom:-7vh;
    width:20vh;
    white-space: nowrap;
    height:6.2vh;
    overflow:visible;
    -webkit-transition:  bottom 0.5s 0.5s cubic-bezier(.17,.67,.56,1.38);
    -moz-transition:     bottom 0.5s 0.5s cubic-bezier(.17,.67,.56,1.38);
    -o-transition:       bottom 0.5s 0.5s cubic-bezier(.17,.67,.56,1.38);
    transition:          bottom 0.5s 0.5s cubic-bezier(.17,.67,.56,1.38);
}
#scrollHint
{
    position:relative;
    display:inline-block;
    white-space: nowrap;
    overflow:hidden;
    top:0;
    width:6.2vh;
    height:6.2vh;
    border-radius:100%;
    -webkit-transition: width 0.8s 0.6s, height 0.8s 0.6s, top 0.8s 0.6s;
    -moz-transition:    width 0.8s 0.6s, height 0.8s 0.6s, top 0.8s 0.6s;
    -ms-transition:     width 0.8s 0.6s, height 0.8s 0.6s, top 0.8s 0.6s;
    -o-transition:      width 0.8s 0.6s, height 0.8s 0.6s, top 0.8s 0.6s;
    transition:         width 0.8s 0.6s, height 0.8s 0.6s, top 0.8s 0.6s;
}
#scrollHintContainer
{
    position:relative;
    display:inline-block;
    white-space: nowrap;
    top:0;
    left:-6.6vh;
    width:20vh;
    height:6.2vh;
    -webkit-transition: top 0.8s 0.6s, left 0.8s 0.6s;
    -moz-transition:    top 0.8s 0.6s, left 0.8s 0.6s;
    -ms-transition:     top 0.8s 0.6s, left 0.8s 0.6s;
    -o-transition:      top 0.8s 0.6s, left 0.8s 0.6s;
    transition:         top 0.8s 0.6s, left 0.8s 0.6s;
}
#scrollHint span
{
    float:left;
    font-size:2vh;
    margin:3.1vh 1vh;
    line-height: 0px;
    color:white;
    font-style:italic;
}
object
{
    height:100%;
    overflow:visible;
    pointer-events: none;
    float:left;
}
#hintSelector
{
    position:absolute;
    top:1%;
    left:-6%;
    height:96%;
    width:110%;
    border-radius:50%;
    cursor:pointer;
}
a
{
    display:block;
}
#pageSelector
{
    position:fixed;
    z-index:4;
    left:97vw;
    top:45vh;
    height:78px;
    width:15px;
    display:block;
}
#pageSelectorClip
{
    position:absolute;
    top:0px;
    left:0px;
    width:15px;
    height:15px;
    border-radius:8px;
    overflow:hidden;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition:    top 0.3s ease-in-out;
    -ms-transition:     top 0.3s ease-in-out;
    -o-transition:      top 0.3s ease-in-out;
    transition:         top 0.3s ease-in-out;
}
#pageSelectorButtons
{
    position:absolute;
    top:0px;
    left:0px;
    width:15px;
    height:78px;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition:    top 0.3s ease-in-out;
    -ms-transition:     top 0.3s ease-in-out;
    -o-transition:      top 0.3s ease-in-out;
    transition:         top 0.3s ease-in-out;
}
.pageSelect
{
    width:15px;
    height:15px;
    background-image:url(graphics/pagebtn0.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    padding:3px 0;
    margin:0;
    cursor:pointer;
}
.pageSelectButton
{
    width:15px;
    height:15px;
    background-image:url(graphics/pagebtn1.svg);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    padding:3px 0;
    cursor:pointer;
}
#home
{
    position:fixed;
    top:0vh;
    z-index:0;
    background-color:rgb(20,156,228);
    background-image:-webkit-linear-gradient(150deg,rgb(40,183,255) 0%,rgb(0,130,202) 100%);
    background-image:-moz-linear-gradient(150deg,rgb(40,183,255) 0%,rgb(0,130,202) 100%);
    background-image:-ms-linear-gradient(150deg,rgb(40,183,255) 0%,rgb(0,130,202) 100%);
    background-image:-o-linear-gradient(150deg,rgb(40,183,255) 0%,rgb(0,130,202) 100%);
    background-image:linear-gradient(150deg,rgb(40,183,255) 0%,rgb(0,130,202) 100%);
}
#about
{
    position:relative;
    margin-top:100vh;
    height:auto;
    background-color:rgb(220,220,210);
    box-shadow:-2px 0 10px 1px rgba(0,0,0,0.5);
}
#projects
{
    position:relative;
    top:0vh;
    padding-bottom:5vh;
    height:auto;
    background-color:rgb(220,220,210);
}
#contact
{
    position:relative;
    top:0vh;
    height:auto;
    background-color:rgb(220,220,210);
}
#copyright
{
    position:relative;
    top:0vh;
    height:30px;
    width:100vw;
    text-align: center;
    left:0;
    padding:0px;
    background:rgb(65,64,66);
}
#credits
{
    line-height: 10px;
    font-size:90%;
    font-weight:500;
    display:inline-block;
    color:rgb(190,191,189);
    margin:10px auto 10px 10px;
}
h1, span
{
    cursor:default;
}
.btnLink
{
    color:white;
    outline:none;
    text-decoration: none;
    padding:12px 20px;
    border-radius:5px;
    background:rgb(0,130,200);
    font-size:13pt;
    line-height:13pt;
    font-weight:bold;
    z-index:5;
    cursor:pointer;
    box-shadow:inset 1px 1px 2px 0px rgba(230,230,210,0.4), inset 1px 2px 5px 0px rgba(230,230,210,0.2), inset -1px -1px 2px 0px rgba(25,25,45,0.3), inset -1px -2px 5px 0px rgba(25,25,45,0.1);
    text-shadow:1px 1px 2px rgba(0,0,0,0.4);
    display:inline-block;
}
.btnLink:hover
{
    background:rgb(20,156,228);
}
#picContainer
{
    position:absolute;
    text-align:center;
    bottom:0;
    left:-30%;
    width:100%;
}
#myPicture
{
    position:relative;
    display:inline-block;
    margin-bottom:-5px;
    /*left:0;*/
    /*width:45vw;*/
    width:94.2vmin;
    z-index:1;
    /*height:40.6vw;*/
    height:85vmin;
    background:url(graphics/portrait.png) no-repeat;
    background-size:cover;
}
.textBox
{
    text-align:left;
    margin-left:40%;
    margin-top:30vh;
    left:0;
    padding:20px;
    width:54vw;
}
.titleText
{
    top:10px;
    font-size:44pt;
    font-size:4vmax;
    display:inline-block;
    margin:0;
    line-height:4vmax;
}
.titleText.light
{
    color:white;
    text-shadow:1px 1px 1px rgba(165,164,166,1);
}
.titleText.dark
{
    color:rgba(65,64,66,1);
    text-shadow:1px 1px 1px rgba(35,34,36,0.8);
}
.textBox .titleText.dark
{
    font-weight:normal;
    font-size:8.5vmin;
    line-height:8.5vmin;
}
.textBox .titleText.light
{
    font-size:12.75vmin;
    line-height:12.75vmin;
    margin-left:-2px;
}
.accent
{
    color:rgba(235,70,30,1);
    font-weight:bold;
    /*text-shadow:1px 1px 1px rgba(235,70,30,0.6);*/
}
.subtitle
{
    font-size:3.2vmin;
    line-height:4.3vmin;
    color:rgb(65,64,66);
    font-weight:normal;
    /*text-shadow:0.5px 0.5px 1px rgba(35,34,36,0.5);*/
}
.bigSubtitle
{
    color:rgb(65,64,66);
    font-weight:bold;
    font-size:18pt;
}
#about .titleText
{
    margin-top:5vh;
    text-shadow: none;
    font-weight:bold;
    color:rgb(85,84,86);
    font-size:20pt;
    line-height:20pt;
    margin-bottom:0;
}
#about .titleText::after
{
    content:'';
    position: relative;
    display:inline-block;
    top:-8pt;
    height:3px;
    width:200%;
    margin-left:-50%;
    border-radius:3px;
    margin-bottom:0;
    background:linear-gradient(135deg,rgb(249,203,13) 0%, rgb(227,50,34) 100%);
}
#about .subtitle
{
    display:inline-block;
    margin-top:0.3%;
}
#aboutBg
{
    position:relative;
    text-align:left;
    top:0;
    margin:0% 4% 0 4%;
    padding:0;
    left:0;
    width:92%;
    height:90%;
    border-radius:5px;
}
#aboutBg .subtitle
{
    /*color:rgb(245,244,246);*/
    font-size:14pt;
    line-height:16pt;
    font-weight:normal;
}
#aboutInfo
{
    position:relative;
    display:inline-block;
    top:0;
    margin:0 0 0 4%;
    padding:3% 3%;
    width:44%;
    height:94%;
}
#schoolLabel
{
    margin-top:5%;
    margin-bottom:2%;
}
.educationIcon
{
    display:inline-block;
    height:35pt;
    width:35pt;
    margin-right:10px;
    float:left;
    background:url(graphics/eduIcon.svg);
}
#progLangs
{
    position:relative;
    display:inline-block;
    vertical-align: top;
    top:0;
    margin:0 0 0 0%;
    padding:3% 6.5%;
    width:32%;
    height:94%;
}
#skillsLabel
{
    margin-bottom:2%;
}
.blContainer
{
    display:inline-block;
    height:7.3vw;
    width:7.3vw;
    max-height:15.6vh;
    max-width:15.6vh;
    padding:0;
    margin:2% 2%;
}
.pieBg
{
    position:absolute;
    width:7.3vw;
    height:7.3vw;
    max-width:15.6vh;
    max-height:15.6vh;
    border-radius:50px;
    z-index:10;
    overflow:hidden;
}
.leftHalf
{
    position:absolute;
    width:50%;
    height:100%;
    overflow:hidden;
}
.rightHalf
{
    position:absolute;
    width:50%;
    height:100%;
    left:50%;
    overflow:hidden;
}
.leftFill
{
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(255,210,50,1);
    background: -webkit-radial-gradient(right, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -moz-radial-gradient(right, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -ms-radial-gradient(right, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -o-radial-gradient(right, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: radial-gradient(circle farthest-side at right,  rgba(244,100,23,1) 0%, rgba(244,100,23,1) 80%, rgba(235,70,30,1) 100%);
    -webkit-transform-origin:   100% 50%;
    -moz-transform-origin:      100% 50%;
    -ms-transform-origin:       100% 50%;
    -o-transform-origin:        100% 50%;
    transform-origin:           100% 50%;
}
.rightFill
{
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(255,210,50,1);
    background: -webkit-radial-gradient(left, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -moz-radial-gradient(left, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -ms-radial-gradient(left, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: -o-radial-gradient(left, circle farthest-side,  rgba(225,180,20,1) 0%, rgba(225,180,20,1) 80%, rgba(255,210,50,1) 100%);
    background: radial-gradient(circle farthest-side at left,  rgba(244,100,23,1) 0%, rgba(244,100,23,1) 80%, rgba(235,70,30,1) 100%);
    -webkit-transform-origin:   0% 50%;
    -moz-transform-origin:      0% 50%;
    -ms-transform-origin:       0% 50%;
    -o-transform-origin:        0% 50%;
    transform-origin:           0% 50%;
}
.pieFg
{
    position:absolute;
    width:74%;
    height:74%;
    max-width:74%;
    max-height:74%;
    margin-left:13%;
    margin-top:13%;
    background: rgb(65,64,66);
    background: -webkit-linear-gradient(top left, rgb(85,84,86) 0%, rgb(35,34,36) 100%);
    background: -moz-linear-gradient(top left, rgb(85,84,86) 0%, rgb(35,34,36) 100%);
    background: -ms-linear-gradient(top left, rgb(85,84,86) 0%, rgb(35,34,36) 100%);
    background: -o-linear-gradient(top left, rgb(85,84,86) 0%, rgb(35,34,36) 100%);
    background: linear-gradient(top left, rgb(85,84,86) 0%, rgb(35,34,36) 100%);
    border-radius:37px;
    box-shadow: 0 0 5px rgba(65,64,66,0.8), inset 0 0 2px rgba(255,255,255,0.2);
    z-index:20;
}
#miscSkillsLabel
{
    margin-top:0;
}
.miscSkills
{
    display:inline-block;
    width:100%;
    margin-top:-5%;
    cursor:default;50
}
.miscSkills span
{
    display:inline-block;
    padding:2px 5px;
    margin:2px 0;
    background:rgba(235,70,30,0.5);
    border:1px solid rgba(227,50,34,1);
    border-radius:3px;
    color:rgb(65,64,66);
}
.leftFill, .rightFill
{
    -webkit-transform:  rotate(-180deg);
    -moz-transform:     rotate(-180deg);
    -ms-transform:      rotate(-180deg);
    -o-transform:       rotate(-180deg);
    transform:          rotate(-180deg);
    -webkit-transition: -webkit-transform 0.5s 0.8s linear;
    -moz-transition:    -moz-transfor50m 0.5s 0.8s linear;
    -ms-transition:     -ms-transform 0.5s 0.8s linear;
    -o-transition:      -o-transform 0.5s 0.8s linear;
    transition:         transform 0.5s 0.8s linear;
    z-index:0;
    backface-visibility: visible;
}
.bigLang
{
    display:block;
    height:68%;
    width:68%;
    margin:16%;
}
#projectsTitle
{
  margin-top:5vh;
  text-shadow: none;
  font-weight:bold;
  color:rgb(85,84,86);
  font-size:20pt;
  line-height:20pt;
  margin-bottom:0;
}
#projectsTitle::after
{
  content:'';
  position: relative;
  display:inline-block;
  top:-8pt;
  height:3px;
  width:150%;
  margin-left:-25%;
  border-radius:3px;
  background:linear-gradient(135deg,rgb(0,158,181) 0%, rgb(0,172,77) 100%);
}
#projects .subtitle
{
    display:inline-block;
    margin-top:2%;
}
#projectsContainer
{
    display:block;
    position:relative;
    box-sizing: border-box;
    height:51vh;
    width:70%;
    left:15%;
    right:15%;
    margin-top:3%;
}
.project
{
    position:relative;
    text-align:left;
    display:inline-block;
    width:33.33%;
    height:50%;
    margin:0px 0px -5px -6px;
    color:rgb(65,64,66);
    background:rgba(230,230,210,1);
}
.projectWrapper
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:10;
    -webkit-transition: width, height, left, top;
    -moz-transition:    width, height, left, top;
    -ms-transition:     width, height, left, top;
    -o-transition:      width, height, left, top;
    transition:         width, height, left, top;
    -webkit-transition-duration:    0.1s;
    -moz-transition-duration:       0.1s;
    -ms-transition-duration:        0.1s;
    -o-transition-duration:         0.1s;
    transition-duration:            0.1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function:    linear;
    -ms-transition-timing-function:     linear;
    -o-transition-timing-function:      linear;
    transition-timing-function:         linear;
}
.projPic
{
    position:absolute;
    width:150%;
    height:150%;
    left:50%;
    box-sizing: border-box;
    cursor: default;
    top:0;
    margin:0 0 0 -75%;
    background:white;
    -webkit-transition: width, height, margin-left, top;
    -moz-transition:    width, height, margin-left, top;
    -ms-transition:     width, height, margin-left, top;
    -o-transition:      width, height, margin-left, top;
    transition:         width, height, margin-left, top;
    -webkit-transition-duration:    0.1s;
    -moz-transition-duration:       0.1s;
    -ms-transition-duration:        0.1s;
    -o-transition-duration:         0.1s;
    transition-duration:            0.1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function:    linear;
    -ms-transition-timing-function:     linear;
    -o-transition-timing-function:      linear;
    transition-timing-function:         linear;
    overflow:none;
}
.projInfo
{
    position:absolute;
    padding:1%;
    box-sizing: border-box;
    top:-50%;
    left:0;
    width:100%;
    background:rgba(65,64,66,0.8);
    color:rgb(230,230,210);
    -webkit-transition: top;
    -moz-transition:    top;
    -ms-transition:     top;
    -o-transition:      top;
    transition:         top;
    -webkit-transition-duration:    0.1s;
    -moz-transition-duration:       0.1s;
    -ms-transition-duration:        0.1s;
    -o-transition-duration:         0.1s;
    transition-duration:            0.1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function:    linear;
    -ms-transition-timing-function:     linear;
    -o-transition-timing-function:      linear;
    transition-timing-function:         linear;
    -webkit-transition-delay:   0s;
    -moz-transition-delay:      0s;
    -ms-transition-delay:       0s;
    -o-transition-delay:        0s;
    transition-delay:           0s;
    box-shadow:0px -3px 10px 3px rgba(65,64,66,0.8);
}
.projActions
{
    position:absolute;
    bottom:-50%;
    left:0;
    width:100%;
    padding: 0;
    -webkit-transition: bottom;
    -moz-transition:    bottom;
    -ms-transition:     bottom;
    -o-transition:      bottom;
    transition:         bottom;
    -webkit-transition-duration:    0.1s;
    -moz-transition-duration:       0.1s;
    -ms-transition-duration:        0.1s;
    -o-transition-duration:         0.1s;
    transition-duration:            0.1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function:    linear;
    -ms-transition-timing-function:     linear;
    -o-transition-timing-function:      linear;
    transition-timing-function:         linear;
    -webkit-transition-delay:   0s;
    -moz-transition-delay:      0s;
    -ms-transition-delay:       0s;
    -o-transition-delay:        0s;
    transition-delay:           0s;
    box-shadow:0px 3px 10px 3px rgba(65,64,66,0.8);
}
.projButton
{
    position:relative;
    display:inline-block;
    top:0;
    left:0;
    width:50%;
    height:100%;
    box-sizing:content-box;
    padding:1% 0;
    text-align: center;
    cursor:pointer;
    background:rgba(65,64,66,0.8);
    text-decoration: none;
}
.projButton:first-child
{
    border-right:1px inset rgba(125,124,126,1);
}
.projButton:last-child
{
    margin-left:-7px;
    border-left:1px inset rgba(65,64,66,1);
}
.projButton:hover
{
    background:rgba(105,104,106,0.8);
}
.codeIcon
{
    display:inline-block;
    width:30px;
    height:30px;
    background:url(graphics/codeIcon1.svg) no-repeat;
    background-size:contain;
}
.demoIcon
{
    display:inline-block;
    width:30px;
    height:30px;
    background:url(graphics/demoIcon.svg) no-repeat;
    background-size:contain;
}
.downloadIcon
{
    display:inline-block;
    width:30px;
    height:30px;
    background:url(graphics/downloadIcon.svg) no-repeat;
    background-size:contain;
}
.projectText
{
    pointer-events: none;
    color:rgb(230,230,210);
}
.project:nth-child(1)>.projectWrapper>.projPic,
.project:nth-child(2)>.projectWrapper>.projPic,
.project:nth-child(3)>.projectWrapper>.projPic
{
    top:-25%;
}
.project:nth-child(4)>.projectWrapper>.projPic,
.project:nth-child(5)>.projectWrapper>.projPic,
.project:nth-child(6)>.projectWrapper>.projPic
{
    top:-25%;
}
.projectWrapper:hover
{
    width:150%;
    height:150%;
    left:-25%;
    z-index:20;
    box-shadow:0 0 10px -1px rgba(65,64,66,0.8);
}
.project:nth-child(1)>.projectWrapper:hover,
.project:nth-child(2)>.projectWrapper:hover,
.project:nth-child(3)>.projectWrapper:hover
{
    top:-25%;
}
.project:nth-child(4)>.projectWrapper:hover,
.project:nth-child(5)>.projectWrapper:hover,
.project:nth-child(6)>.projectWrapper:hover
{
    top:-50%;
}
.projectWrapper:hover>.projPic
{
    width:100%;
    height:100%;
    margin-left:-50%;
}
.project:nth-child(n)>.projectWrapper:hover>.projPic
{
    top:0;
}
.projectWrapper:hover>.projPic>.projInfo
{
    top:0;
    -webkit-transition-delay:   0.2s;
    -moz-transition-delay:      0.2s;
    -ms-transition-delay:       0.2s;
    -o-transition-delay:        0.2s;
    transition-delay:           0.2s;
}
.projectWrapper:hover>.projPic>.projActions
{
    bottom:0;
    -webkit-transition-delay:   0.2s;
    -moz-transition-delay:      0.2s;
    -ms-transition-delay:       0.2s;
    -o-transition-delay:        0.2s;
    transition-delay:           0.2s;
}
#unknock .projPic
{
    background:url(graphics/projects/unknock/thumb.svg) no-repeat;
    background-size:cover;
    background-position:center;
}
#spaceInvaders .projPic
{
    background:url(graphics/projects/spaceInvaders/thumb.png) no-repeat;
    background-size:cover;
    background-position:center;
}
#minesweeper .projPic
{
    background:url(graphics/projects/minesweeper/thumb.svg) no-repeat;
    background-size:cover;
    background-position:center;
}
#hardestGameEver .projPic
{
    background:url(graphics/projects/hardestGameEver/thumb.svg) no-repeat;
    background-size:cover;
    background-position:center;
}
#heightmapGenerator .projPic
{
    background:url(graphics/projects/heightmapGenerator/thumb.svg) no-repeat;
    background-size:cover;
    background-position:center;
}
.projTitle
{
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
    margin:0;
}
.projDesc
{
    display:inline-block;
    vertical-align:top;
    margin-top:-1%;
    margin-bottom:0%;
    font-size:10.5pt;
}
.projLang
{
    display:inline-block;
    margin:0;
    vertical-align:middle;
    padding:0 0;
    height:20pt;
    margin-bottom:2%;
}
.projLang span
{
    display:inline-block;
    margin-right:-6px;
}
.lang
{
    height:100%;
    width:20pt;
}
.lang::after
{
    content:'';
    opacity:0;
    font-size:10pt;
    color:rgba(255,255,255,0.8);
    display:block;
    position:absolute;
    width:auto;
    padding:1px 5px;
    height:18px;
    top:40%;
    margin-left:-70px;
    border-radius:5px;
    background:rgba(65,64,66,0.8);
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -ms-transition:     opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transition:         opacity 0.2s;
}
.lang:hover:after
{
    opacity:1;
    -webkit-transition-delay:   0.5s;
    -moz-transition-delay:      0.5s;
    -ms-transition-delay:       0.5s;
    -o-transition-delay:        0.5s;
    transition-delay:           0.5s;
}
.android
{
    background:url(graphics/languages/android.svg) no-repeat;
}
.lang.android::after
{
    content:'This project runs on Android';
}
.cpp
{
    background:url(graphics/languages/cpp.svg) no-repeat;
}
.lang.cpp::after
{
    content:'This project is written in C++';
}
.csharp
{
    background:url(graphics/languages/csharp.svg) no-repeat;
}
.lang.csharp::after
{
    content:'This project is written in C#';
}
.css3
{
    background:url(graphics/languages/css3.svg) no-repeat;
}
.lang.css3::after
{
    content:'This project is written in CSS';
}
.html5
{
    background:url(graphics/languages/html5.svg) no-repeat;
}
.lang.html5::after
{
    content:'This project is written in HTML';
}
.java
{
    background:url(graphics/languages/java.svg) no-repeat;
}
.lang.java::after
{
    content:'This project is written in Java';
}
.javascript
{
    background:url(graphics/languages/javascript.svg) no-repeat;
}
.lang.javascript::after
{
    content:'This project is written in Javascript';
}
.php
{
    background:url(graphics/languages/php.svg) no-repeat;
}
.lang.php::after
{
    content:'This project is written in PHP';
}
.python
{
    background:url(graphics/languages/python.svg) no-repeat;
}
.lang.python::after
{
    content:'This project is written in Python';
}
#contact .titleText
{
  margin-top:5vh;
  text-shadow: none;
  font-weight:bold;
  color:rgb(85,84,86);
  font-size:20pt;
  line-height:20pt;
  margin-bottom:0;
}
#contact .titleText::after
{
  content:'';
  position: relative;
  display:inline-block;
  top:-8pt;
  height:3px;
  width:150%;
  margin-left:-25%;
  border-radius:3px;
  background:linear-gradient(135deg,rgb(110,189,68) 0%, rgb(225,197,10) 100%);
}
.verticalLine
{
    position:absolute;
    width:3px;
    background:rgba(65,64,66,0.6);
    height:50%;
    top:30%;
    left:45%;
    border-radius:1.5px;
}
#socialForm
{
    position:relative;
    display:inline-block;
    left:0;
    top:0;
    width:40%;
    height:70%;
    padding:5% 0;
    text-align:center;
}
#socialForm .titleText
{
    padding:0 10%;
}
#contactForm
{
    position:relative;
    display:inline-block;
    vertical-align:top;
    left:0;
    top:0;
    width:40%;
    height:80%;
    padding:5% 0%;
}
#cForm
{
    margin:5% 0;
}
input[type="text"], textarea
{
    display:block;
    margin:3% 0;
    border:none;
    outline:none;
    /*background:rgb(230,230,210);*/
    background:none;
    border-bottom:2px solid rgba(65,64,66,0.5);
    -webkit-transition: border-bottom-color 0.5s;
    -moz-transition:    border-bottom-color 0.5s;
    -ms-transition:     border-bottom-color 0.5s;
    -o-transition:      border-bottom-color 0.5s;
    transition:         border-bottom-color 0.5s;
    padding:15px 5px 5px 10px;
    width:50%;
    font-family:inherit;
    font-size:12pt;
    color:rgb(65,64,66);
}
.notification
{
    display:block;
    visibility: hidden;
    position:absolute;
    color:rgb(250,250,230);
    font-size:12pt;
    white-space:nowrap;
    cursor:default;
    padding:8px 10px;
    box-sizing: border-box;
    max-width:0px;
    height:25pt;
    margin-top:-41pt;
    margin-left:54%;
    overflow:hidden;
    background:rgb(255,30,30);
    border-radius:4px;
    box-shadow:0 3px 0 0 rgb(225,0,0);
    -webkit-transition: max-width 0.2s ease-out;
    -moz-transition:    max-width 0.2s ease-out;
    -ms-transition:     max-width 0.2s ease-out;
    -o-transition:      max-width 0.2s ease-out;
    transition:         max-width 0.2s ease-out;
    z-index:1;
}
.notArrow
{
    display:block;
    visibility: hidden;
    position:absolute;
    width:0;
    height:0;
    border-width:5px;
    border-color:transparent rgb(255,30,30) transparent transparent;
    border-style:solid;
    left:50%;
    margin-left:2.2%;
    margin-top:-31pt;
}
textarea
{
    resize:none;
    width:100%;
    height:40%;
    line-height:16pt;
    padding:10px;
    overflow: auto;
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
}
#textareaNotif
{
    margin:0;
}
#textareaNotif + .notArrow
{
    border-color:transparent transparent rgb(255,30,30) transparent;
    left:0;
    margin-top:-10px;
    margin-left:11%;
}
textarea::-webkit-input-placeholder
{
    color:rgba(0,100,170,0.7);
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
textarea::-moz-placeholder
{
    color:rgba(0,100,170,0.7);
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
textarea:-moz-placeholder
{
    color:rgba(0,100,170,0.7);
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
textarea:-ms-input-placeholder
{
    color:rgba(0,100,170,0.7);
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
textarea.selected::-webkit-input-placeholder
{
    color:rgba(0,100,170,1);
}
textarea.selected::-moz-placeholder
{
    color:rgba(0,100,170,1);
}
textarea.selected:-moz-placeholder
{
    color:rgba(0,100,170,1);
}
textarea.selected:-ms-input-placeholder
{
    color:rgba(0,100,170,1);
}
input[type="submit"]
{
    display:block;
    cursor:pointer;
    position:relative;
    margin:3% 0;
    top:0;
    border:none;
    outline:none;
    background:rgb(230,64,66);
    border-radius:5px;
    padding:10px;
    width:25%;
    float:right;
    font-family:inherit;
    font-size:14pt;
    font-weight:bold;
    color:rgb(230,230,210);
    box-shadow:0 3px 1px 0 rgb(160,24,26);
    -webkit-transition: top 0.1s, box-shadow 0.1s;
    -moz-transition:    top 0.1s, box-shadow 0.1s;
    -ms-transition:     top 0.1s, box-shadow 0.1s;
    -o-transition:      top 0.1s, box-shadow 0.1s;
    transition:         top 0.1s, box-shadow 0.1s;
}
input[type="submit"]:hover
{
    background:rgb(255,89,91);
}
input[type="submit"]:active
{
    top:3px;
    box-shadow:0 0 0 0 rgb(160,24,26);
}
.tField
{
    position:relative;
}
.cLabel
{
    display:block;
    position:absolute;
    pointer-events: none;
    top:0;
    font-size:12pt;
    margin:10px 5px 5px 10px;
    color:rgba(0,100,170,0.7);
    -webkit-transition: font-size 0.1s, margin-top 0.1s, color 0.2s;
    -moz-transition:    font-size 0.1s, margin-top 0.1s, color 0.2s;
    -ms-transition:     font-size 0.1s, margin-top 0.1s, color 0.2s;
    -o-transition:      font-size 0.1s, margin-top 0.1s, color 0.2s;
    transition:         font-size 0.1s, margin-top 0.1s, color 0.2s;
}
#socialIcons
{
    margin-top:15%;
}
.socIconContainer
{
    display:inline-block;
    text-align:left;
    margin-top:-3%;
    width:6vw;
    height:6vw;
}
.socIcon
{
    height:100%;
    width:100%;
    pointer-events: none;
}
.socIconContainer a
{
    height:100%;
    width:100%;
    text-decoration: none;
}
.socIconContainer a::after
{
    content:'';
    opacity:0;
    pointer-events: none;
    font-size:12pt;
    color:rgba(255,255,255,0.8);
    display:block;
    margin:18% 0 0 -17px;
    position:absolute;
    width:auto;
    padding:1px 5px;
    height:18px;
    border-radius:5px;
    background:rgba(65,64,66,0.8);
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -ms-transition:     opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transition:         opacity 0.2s;
}
.socIconContainer a:hover:after
{
    opacity:1;
    -webkit-transition-delay:   1s;
    -moz-transition-delay:      1s;
    -ms-transition-delay:       1s;
    -o-transition-delay:        1s;
    transition-delay:           1s;
}
.socIconContainer:nth-child(1) a:after
{
    background:rgba(24,22,22,0.8);
    content:'See my Github';
}
.socIconContainer:nth-child(2) a:after
{
    background:rgba(10,108,155,0.8);
    content:'See my LinkedIn';
}
.socIconContainer:nth-child(4) a:after
{
    background:rgba(0,0,0,0.8);
    content:'See my CodePen';
}
.socIconContainer:nth-child(5) a:after
{
    background:rgba(85,84,86,0.8);
    content:'Send me an email';
}
.socIconContainer:nth-child(6) a:after
{
    background:rgba(220,84,66,0.8);
    content:'See my Google+';
}
.socIconContainer:nth-child(8) a:after
{
    background:rgba(54,96,159,0.8);
    content:'See my Facebook';
}
.socIconContainer:nth-child(9) a:after
{
    background:rgba(44,170,225,0.8);
    content:'See my Twitter';
}


@media only screen and (max-width: 1200px)
{
    .projTitle
    {
        font-size:1.75vw;
    }
    .projDesc
    {
        font-size:1.15vw;
    }
}
