@keyframes appearHint
{
    0% {bottom:-10vh;}
    100% {bottom:5vh;}
}
#scrollHint
{
    bottom:-10vh;
    height:10vh;
    margin-left:-15vh;
    width:30vh;
    position:absolute;
    -webkit-clip-path:circle(5vh at 50% 50%);
}
#scrollHint span
{
    font-size:2.5vh;
    margin:5vh 2vh;
}
#nameUnderline
{
    width:90%;
    margin:10px 5%;
}
#hamMenuLabel
{
    display:block;
    position:fixed;
    width:auto;
    z-index:3;
    top:0;
    left:0;
    height:7.5vh;
    margin:3.75vh 5vw;
}
#hamImage
{
    pointer-events: none;
}
#contentPage, #topBar
{
    -webkit-transition:left 0.2s;
}
#pageSelector
{
    -webkit-transition:right 0.2s;
}
#hamMenu:checked ~ div>#topBar
{
    left:60vw;
}
#hamMenu:checked ~ div
{
    overflow-y:hidden;
    left:60vw;
}
#hamMenu:checked ~ div>#pageSelector
{
    right:-57vw;
}
#logo
{
    position:absolute;
    display:block;
    width:auto;
    height:7.5vh;
    left:-4vh;
    margin:3.75vh 50%;
}
#menu
{
    position:absolute;
    display:block;
    top:0vh;
    z-index:1;
    padding:15vh 0vh 0vh 5vw;
    left:-60vw;
    margin:0;
    height:85vh;
    width:55vw;
    cursor:default;
    background:rgba(65,64,66,1);
    -webkit-transition:left 0.2s;
}
.menuItem
{
    display:block;
    padding:1vh 0;
    margin:0;
    text-decoration: none;
    cursor:pointer;
}
.menuItem li
{
    list-style: none;
    color:white;
    font-size:6vh;
    line-height: 0px;
    padding:5vh 2vw;
    margin:0;
    border-radius:10px;
    background-color:rgba(65,64,66,0.0);
    -webkit-transition:background-color 0.2s;
}
.menuItem li:hover
{
    background-color:rgba(65,64,66,0.6);
}