#scrollHintWrapper
{
    bottom:-10vh;
}
body
{
    overflow-x:hidden;
}
#contentPage
{
    overflow-x:hidden;
    position:fixed;
    height:85vh;
    margin-top:15vh;
}
#scrollHint span
{
    font-size:2vh;
    margin:3.5vh 1vh;
}
#hamMenuLabel
{
    display:block;
    position:fixed;
    width:auto;
    z-index:3;
    top:0;
    left:0;
    height:7.5vh;
    margin:3.75vh 4vh;
}
#hamImage
{
    pointer-events: none;
}
#contentPage, #topBar, #home
{
    -webkit-transition: left 0.2s;
    -moz-transition:    left 0.2s;
    -ms-transition:     left 0.2s;
    -o-transition:      left 0.2s;
    transition:         left 0.2s;
}
#topBar
{
    position:fixed;
    height:15vh;
    backface-visibility: visible;
}
#hamMenu:checked ~ #contentPage
{
    left:35vh;
}
#hamMenu:checked ~ #contentPage>#topBar
{
    left:35vh;
}
#hamMenu:checked ~ #home
{
    left:35vh;
}
#logo
{
    position:absolute;
    display:block;
    width:auto;
    height:7.5vh;
    left:-5vh;
    margin:3.75vh 50%;
}
#logo a
{
    width:10.5vh;
}
#menu
{
    position:absolute;
    display:block;
    overflow:hidden;
    top:0vh;
    z-index:1;
    padding:15vh 0vh 0vh 0vh;
    left:-35vh;
    margin:0;
    height:85vh;
    width:35vh;
    cursor:default;
    background-color:rgba(65,64,66,1);
    box-shadow:inset -7px 0px 30px -10px black;
    -webkit-transition: left 0.2s;
    -moz-transition:    left 0.2s;
    -ms-transition:     left 0.2s;
    -o-transition:      left 0.2s;
    transition:         left 0.2s;
}
.menuItem
{
    display:block;
    padding:1vh 0 0 4vh;
    margin:0;
    text-decoration: none;
    cursor:pointer;
    border-top:1px solid rgba(80,80,80,1);
    border-bottom:1px solid rgba(30,30,30,1);
}
.menuItem:first-child
{
    border-top:none;
}
.menuItem:last-child
{
    border-bottom:1px solid rgba(80,80,80,1);
}
.menuItem:last-child::after
{
    content:'';
    display:block;
    margin-left:-4vh;
    border-bottom:1px solid rgba(30,30,30,1);
}
.menuItem li
{
    list-style: none;
    color:white;
    font-size:6vh;
    line-height: 0px;
    padding:5vh 2vh;
    margin:0;
    border-radius:10px;
    background-color:none;
    -webkit-transition: background-color 0.2s;
    -moz-transition:    background-color 0.2s;
    -ms-transition:     background-color 0.2s;
    -o-transition:      background-color 0.2s;
    transition:         background-color 0.2s;
}
.menuItem li:hover
{
    background-color:none;
}
#pageSelector
{
    display:none;
}
.btnLink
{
    padding:8px 10px;
    font-size:10pt;
}
#picContainer
{
    left:0;
}
#myPicture
{
    width:70vw;
    height:63.2vw;
}
.textBox
{
    margin:15vh 5vw 0 5vw;
    padding:10px 5px;
    width:auto;
    text-align:center;
}
.titleText
{
    font-size:32pt;
    line-height:32pt;
}
.subtitle
{
    font-size:14pt;
    line-height:16pt;
}
.titleText.dark
{
    font-size:32pt !important;
    line-height:32pt !important;
}
.titleText.light
{
    line-height:32pt !important;
    font-size:32pt !important;
}
#about .titleText
{
    font-size:16pt !important;
    line-height:16pt !important;
}
#about .titleText::after
{
    top:-4pt;
}
#about .subtitle
{
    margin-top:0.5%;
}
#aboutBg
{
    margin:0 0 0 0;
    text-align:justify;
    top:15%;
    width:100%;
    height:85%;
    border-radius:0px;
}
.bigSubtitle
{
    font-size:14pt;
    margin:0;
}
#aboutBg .subtitle
{
    font-size:11.5pt;
    line-height: 12pt;
    margin-bottom:1vh;
}
#aboutInfo
{
    margin:0 0 0 0;
    width:100%;
    height:auto;
    box-sizing:border-box;
}
.educationIcon
{
    height:28pt;
    width:28pt;
}
#schoolLabel
{
    display:none;
}
#eduSchool
{
    margin-bottom:0 !important;
}
#eduLabel
{
    margin-top:0 !important;
    font-size:10pt !important;
}
#progLangs
{
    top:auto;
    bottom:0;
    margin:0 0 4vh 0;
    padding:0;
    width:100%;
    height:auto;
}
#skillsLabel, #miscSkillsLabel
{
    display:none;
}
.blContainer
{
    height:15vw;
    width:15vw;
    margin:0 0;
    max-height: none;
    max-width: none;
}
.blContainer:nth-child(2)
{
    margin-left:1.5vw;
}
.pieBg
{
    width:15vw;
    height:15vw;
    margin:0;
    border-radius:7.5vw;
    max-height: none;
    max-width: none;
}
.pieFg
{
    width:11.1vw;
    height:11.1vw;
    margin:1.95vw;
    border-radius:5.55vw;
    box-shadow: 0 0 3px rgba(65,64,66,0.8), inset 0 0 2px rgba(255,255,255,0.2);
    max-height: none;
    max-width: none;
}
.leftFill, .rightFill
{
    backface-visibility: visible;
}
.bigLang
{
    height:7.5vw;
    width:7.5vw;
    margin:1.8vw;
}
.miscSkills
{
    width:100%;
    box-sizing:border-box;
    text-align:left;
    padding:0 3%;
    margin-top:2%;
}
.miscSkills span
{
    font-size:11.5pt;
}
#projectsTitle
{
  font-size:16pt !important;
  line-height:16pt !important;
}
#projectsTitle::after
{
  top:-4pt;
}
#projects .subtitle
{
    display:inline-block;
    margin-top:10px;
}
#projectsContainer
{
    height:75vh;
    left:0px;
    right:0px;
    bottom:0;
    margin-bottom:-3px;
}
.project
{
    width:50%;
    height:33.33%;
    margin:0px -3px -5px -3px;
}
.project:nth-child(1)>.projectWrapper:hover,
.project:nth-child(3)>.projectWrapper:hover,
.project:nth-child(5)>.projectWrapper:hover
{
    left:0;
}
.project:nth-child(2)>.projectWrapper:hover,
.project:nth-child(4)>.projectWrapper:hover,
.project:nth-child(6)>.projectWrapper:hover
{
    left:-50%;
}
.project:nth-child(1)>.projectWrapper:hover,
.project:nth-child(2)>.projectWrapper:hover,
.project:nth-child(3)>.projectWrapper:hover,
.project:nth-child(4)>.projectWrapper:hover
{
    top:-25%;
}
.project:nth-child(5)>.projectWrapper:hover,
.project:nth-child(6)>.projectWrapper:hover
{
    top:-50%;
}
.projTitle
{
    font-size:6vw;
}
.projDesc
{
    font-size:3vw;
}
.projLang
{
    height:7vw;
}
.lang
{
    width:7vw;
}
#contact .titleText
{
  font-size:16pt !important;
  line-height:16pt !important;
}
#contact .titleText::after
{
  top:-4pt;
}
.verticalLine
{
    width:60%;
    height:3px;
}
#socialForm
{
    width:100%;
    height:40%;
    padding:5% 0;
    text-align: center;
}
#socialIcons
{
    display:inline-block;
    width:80%;
    text-align:center;
    vertical-align:middle;
    margin-top:0;
}
.socIconContainer
{
    width:20vw;
    height:20vw;
}
.socIconContainer a
{
    height:100%;
}
.socIconContainer a::after
{
    display:none;
}
#contactForm
{
    left:0;
    top:40%;
    width:100%;
    height:60%;
    box-sizing: border-box;
    text-align: center;
    padding:3%;
}
#cForm
{
    margin:0;
}
.tField
{
    display:inline-block;
    width:45%;
    margin:3% 2%;
}
.tField:nth-child(1)
{
    margin-left:0;
}
.cLabel
{
    font-size:11.5pt;
}
input[type="text"], textarea
{
    margin:0;
    width:100%;
    font-size:11.5pt;
}
textarea
{
    height:40%;
    width:95%;
    margin:0 0.5%;
    line-height:12pt;
    padding:10px;
}
input[type="submit"]
{
    margin:2% 0.5%;
    width:100%;
    float:left;
}
.notification
{
    font-size:8pt;
    padding:8px 10px;
    height:20pt;
    margin-top:10px;
    margin-left:0;
}
.notArrow
{
    border-color:transparent transparent rgb(255,30,30) transparent;
    left:0;
    margin-left:10px;
    margin-top:0;
}
#textareaNotif
{
    margin-top:7px;
}
#textareaNotif + .notArrow
{
    margin-top:-3px;
    margin-left:21px;
}
